{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{% static 'budget_app/css/budget.css' %}">
<title>Budget App - Home</title>
</head>
<body class="background">
    <div1 class="header">
    <div2 class="button-pos">
    <a href="{% url 'login' %}" class="button1">Login</a> | <a href="{% url 'register' %}" class="button2">Register</a>
    </div2>
    <h1>Welcome to PiggyBank!</h1>
    </div1>
    <h2>Welcome, {{ user.username }}!</h2>

    <h3>Your Budget</h3>
    <p>Current Budget: <strong>${{ budget.amount }}</strong> ({{ budget.period }})</p>

    <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="update_budget">Update Budget</button>
    </form>

    <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    {{ expense_form.as_p }}
    <button type="submit" name="add_expense">Add Expense</button>
    </form>

    <ul>
        {% for expense in expenses %}
            <li>
                {{ expense.category }} - ${{ expense.amount }} 
                <a href="{% url 'delete_expense' expense.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    
</body>
</html>