{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'budget_app/css/budget.css' %}">
    <title>Login</title>
</head>
<body class="background">
    <div class="log_background">
    <h2>Login Page</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <div1 class="button_cen">
        <button type="submit" class="button2">Login</button>
        </div1>
    </form>
    <div2>
    <p>Don't have an account? <a href="{% url 'register' %}" class="button1">Register here</a></p>
    </div2>
    </div>
</body>
</html>